body{ background-color: rgb(255, 255, 255); }
.A3x3{
    height: 55px;
    width: 55px;
    background-color: aqua;
    margin: 3px;
    display: inline-block;
    border-radius: 8px;
}
.Table3{
    display: flex;
    justify-content: center;
}
.MainT3x3{ margin: 10px; }
.B5x5{
    height: 70px;
    width: 70px;
    background-color: rgb(140, 0, 255);
    margin: 3px;
    display: inline-block;
    border-radius: 8px;
}
.Table5{
    display: flex;
    justify-content: center;
}
.MainT5x5{
    background-color: rgb(0, 0, 0);
    margin: auto;
    width: 380px;
}
.Table{
    height: 30px;
    width: 100%;
}
#StopWatch{
    width: 100%;
    font-size: 40px;
    color: white;
    display: inline;
}
#stepsCount{ color: white; }
.buttons{ display: block; }
#reset{ display: none; }
.display{ display: none; }
@media(max-width:556px){
    #StopWatch{ font-size: 20px;  }
    .Table{ margin-bottom: 90px;    }
    .B5x5 {
        height: 50px;
        width: 50px;
   }
    .A3x3 {
        height: 40px;
        width: 40px;
   }
    .MainT5x5{
        background-color: rgb(202, 199, 199);
        margin: auto;
        width: 270px;
   }
}
Button{
    padding: 15px 30px;
    background-color: grey;
    color: white;
    border-radius: 5px;
}
Button:hover{ color: black; }
a{
    color: white;
    background-color: grey;
}
a:hover{ color:black; }
#divQuit{ margin-top: 15px; }